/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');*/

*{
    --cw-primary-color: #2C97DE;
	--cw-grey-color: #647482;
	--cw-light-grey-color: #e6e6e6;
	--cw-white-color: #fff;
	--cw-text-dark: #253858;
	--cw-bg-dark: #253858;
	--cw-warning-color: #E25F70;
	--cw-success-color: #5FCB44;
	--cw-grey-shade: #F4F5F6;
	--cw-btn-orange-color: #D57A32;
	--cw-dark-color: #333333;

	--cw-font-thin: 300;
	--cw-font-regular: 400;
	--cw-font-medium: 500;
	--cw-font-semi-bold: 600;
	--cw-font-bold: 700;
}
/*html {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'icomoon';
}*/

@font-face {
	font-family: 'icomoon';
	src: url('../icons/icomoon.eot?rdn9hk');
	src: url('../icons/icomoon.eot?rdn9hk#iefix') format('embedded-opentype'), url('../icons/icomoon.ttf?rdn9hk') format('truetype'), url('../icons/icomoon.woff?rdn9hk') format('woff'), url('../icons/icomoon.svg?rdn9hk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="cw-icon-"],
[class*=" cw-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cw-icon-2x {
	font-size: 24px;
}

.cw-icon-wesbites:before {
	content: "\e901";
}

.cw-icon-settings:before {
	content: "\e902";
}

.cw-icon-dashboard:before {
	content: "\e903";
}

.cw-icon-subscribers:before {
	content: "\e904";
}

.cw-icon-automation:before {
	content: "\e905";
}

.cw-icon-segmentation:before {
	content: "\e906";
}

.cw-icon-campaigns:before {
	content: "\e907";
}

.cw-icon-bill:before {
	content: "\e908";
}

.cw-icon-trash:before {
	content: "\e909";
}

.cw-icon-setting:before {
	content: "\e90a";
}

.cw-icon-currency:before {
	content: "\e90b";
}

.cw-icon-file-extended:before {
	content: "\e90c";
}

.cw-icon-logout:before {
	content: "\e90d";
}

.cw-icon-arrow-down:before {
	content: "\e90e";
}

.cw-icon-web-link:before {
	content: "\e90f";
}

.cw-icon-chevron-right:before {
	content: "\e910";
}

.cw-icon-arrow-up:before {
	content: "\e900";
}

.cw-icon-add:before {
	content: "\e911";
}

.cw-icon-minus:before {
	content: "\e912";
}

.cw-icon-subscriber:before {
	content: "\e913";
}

.cw-icon-campaign-sent:before {
	content: "\e914";
}

.cw-icon-password:before {
	content: "\e915";
}

.cw-icon-edit:before {
	content: "\e916";
}

.cw-icon-delete:before {
	content: "\e917";
}

.cw-icon-edit-inline:before {
	content: "\e918";
}

.cw-icon-file:before {
	content: "\e919";
}

.cw-icon-search:before {
	content: "\e91a";
}

.cw-icon-close:before {
	content: "\e91b";
}

.cw-icon-calendar:before {
	content: "\e91c";
}

.cw-icon-time:before {
	content: "\e91d";
}

.cw-icon-close-enhanced:before {
	content: "\e91e";
}

.cw-icon-chevron-left:before {
	content: "\e91f";
}

.cw-icon-refresh:before {
	content: "\e920";
}

.cw-icon-help:before {
	content: "\e921";
}

.cw-icon-image:before {
	content: "\e922";
}

.cw-icon-thumb-menu:before {
	content: "\e923";
}

.cw-icon-check:before {
	content: "\e924";
}

.cw-icon-eye:before {
	content: "\e925";
}

.cw-icon-Vector-38:before {
	content: "\e926";
}

.cw-icon-Vector-39:before {
	content: "\e927";
}

.cw-icon-money:before {
	content: "\e928";
}

.cw-icon-bug:before {
	content: "\e929";
}

.cw-icon-chrome:before {
	content: "\e92a";
}

.cw-icon-copy:before {
	content: "\e92b";
}

.cw-icon-feed:before {
	content: "\e92c";
}

.cw-icon-logout-enhanced:before {
	content: "\e92d";
}

.cw-icon-Vector-46:before {
	content: "\e92e";
}

.cw-icon-website-published:before {
	content: "\e92f";
}

.cw-icon-safari:before {
	content: "\e930";
}

.cw-icon-send:before {
	content: "\e931";
}

.cw-icon-Vector-50:before {
	content: "\e932";
}

.cw-icon-password-mask:before {
	content: "\e933";
}

.cw-icon-mail:before {
	content: "\e934";
}

.cw-icon-security:before {
	content: "\e935";
}

.cw-icon-user:before {
	content: "\e936";
}

.cw-icon-notification:before {
	content: "\e937";
}

.cw-icon-profile:before {
	content: "\e938";
}

.cw-icon-website:before {
	content: "\e939";
}

/* flex utilities */
/*{
	font-family: Arial, Helvetica, sans-serif;
}*/
.cw-d-flex {
	display: flex;
}
.cw-d-inline-flex {
	display: inline-flex;
}
.cw-flex-row {
	flex-direction: row;
}
.cw-flex-row-reverse {
	flex-direction: row-reverse;
}
.cw-flex-column {
	flex-direction: column;
}
.cw-flex-column-reverse {
	flex-direction: column-reverse;
}
.cw-flex-wrap {
	flex-wrap: wrap;
}
.cw-flex-nowrap {
	flex-wrap: nowrap;
}
.cw-flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.cw-justify-content-start {
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	justify-content: flex-start !important;
}
.cw-justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}
.cw-justify-content-center {
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}
.cw-justify-content-between {
	-webkit-box-pack: justify !important;
	-ms-flex-pack: justify !important;
	justify-content: space-between !important;
}
.cw-justify-content-around {
	-ms-flex-pack: distribute !important;
	justify-content: space-around !important;
}
.cw-align-items-start {
	-webkit-box-align: start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}
.cw-align-items-end {
	-webkit-box-align: end !important;
	-ms-flex-align: end !important;
	align-items: flex-end !important;
}
.cw-align-items-center {
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}
.cw-align-items-baseline {
	-webkit-box-align: baseline !important;
	-ms-flex-align: baseline !important;
	align-items: baseline !important;
}
.cw-align-items-stretch {
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	align-items: stretch !important;
}
.cw-align-content-start {
	-ms-flex-line-pack: start !important;
	align-content: flex-start !important;
}
.cw-align-content-end {
	-ms-flex-line-pack: end !important;
	align-content: flex-end !important;
}
.cw-align-content-center {
	-ms-flex-line-pack: center !important;
	align-content: center !important;
}
.cw-align-content-between {
	-ms-flex-line-pack: justify !important;
	align-content: space-between !important;
}
.cw-align-content-around {
	-ms-flex-line-pack: distribute !important;
	align-content: space-around !important;
}
.cw-align-content-stretch {
	-ms-flex-line-pack: stretch !important;
	align-content: stretch !important;
}
.cw-mr-auto,
.cw-mx-auto {
	margin-right: auto !important;
}

.cw-ml-auto,
.cw-mx-auto {
	margin-left: auto !important;
}
.cw-m-0 {
	margin: 0 !important;
}

.cw-mt-0,
.cw-my-0 {
	margin-top: 0 !important;
}

.cw-mr-0,
.cw-mx-0 {
	margin-right: 0 !important;
}

.cw-mb-0,
.cw-my-0 {
	margin-bottom: 0 !important;
}

.cw-ml-0,
.cw-mx-0 {
	margin-left: 0 !important;
}

.cw-m-1 {
	margin: 4px !important;
}

.cw-mt-1,
.cw-my-1 {
	margin-top: 4px !important;
}

.cw-mr-1,
.cw-mx-1 {
	margin-right: 4px !important;
}

.cw-mb-1,
.cw-my-1 {
	margin-bottom: 4px !important;
}

.cw-ml-1,
.cw-mx-1 {
	margin-left: 4px !important;
}

.cw-m-2 {
	margin: 8px !important;
}

.cw-mt-2,
.cw-my-2 {
	margin-top: 8px !important;
}

.cw-mr-2,
.cw-mx-2 {
	margin-right: 8px !important;
}

.cw-mb-2,
.cw-my-2 {
	margin-bottom: 8px !important;
}

.cw-ml-2,
.cw-mx-2 {
	margin-left: 8px !important;
}

.cw-m-3 {
	margin: 16px !important;
}

.cw-mt-3,
.cw-my-3 {
	margin-top: 16px !important;
}

.cw-mr-3,
.cw-mx-3 {
	margin-right: 16px !important;
}

.cw-mb-3,
.cw-my-3 {
	margin-bottom: 16px !important;
}

.cw-ml-3,
.cw-mx-3 {
	margin-left: 16px !important;
}

.cw-m-4 {
	margin: 24px !important;
}

.cw-mt-4,
.cw-my-4 {
	margin-top: 24px !important;
}

.cw-mr-4,
.cw-mx-4 {
	margin-right: 24px !important;
}

.cw-mb-4,
.cw-my-4 {
	margin-bottom: 24px !important;
}

.cw-ml-4,
.cw-mx-4 {
	margin-left: 24px !important;
}

.cw-m-5 {
	margin: 48px !important;
}

.cw-mt-5,
.cw-my-5 {
	margin-top: 48px !important;
}

.cw-mr-5,
.cw-mx-5 {
	margin-right: 48px !important;
}

.cw-mb-5,
.cw-my-5 {
	margin-bottom: 48px !important;
}

.cw-ml-5,
.cw-mx-5 {
	margin-left: 48px !important;
}

.cw-p-0 {
	padding: 0 !important;
}

.cw-pt-0,
.cw-py-0 {
	padding-top: 0 !important;
}

.cw-pr-0,
.cw-px-0 {
	padding-right: 0 !important;
}

.cw-pb-0,
.cw-py-0 {
	padding-bottom: 0 !important;
}

.cw-pl-0,
.cw-px-0 {
	padding-left: 0 !important;
}

.cw-p-1 {
	padding: 4px !important;
}

.cw-pt-1,
.cw-py-1 {
	padding-top: 4px !important;
}

.cw-pr-1,
.cw-px-1 {
	padding-right: 4px !important;
}

.cw-pb-1,
.cw-py-1 {
	padding-bottom: 4px !important;
}

.cw-pl-1,
.cw-px-1 {
	padding-left: 4px !important;
}

.cw-p-2 {
	padding: 8px !important;
}

.cw-pt-2,
.cw-py-2 {
	padding-top: 8px !important;
}

.cw-pr-2,
.cw-px-2 {
	padding-right: 8px !important;
}

.cw-pb-2,
.cw-py-2 {
	padding-bottom: 8px !important;
}

.cw-pl-2,
.cw-px-2 {
	padding-left: 8px !important;
}

.cw-p-3 {
	padding: 16px !important;
}

.cw-pt-3,
.cw-py-3 {
	padding-top: 16px !important;
}

.cw-pr-3,
.cw-px-3 {
	padding-right: 16px !important;
}

.cw-pb-3,
.cw-py-3 {
	padding-bottom: 16px !important;
}

.cw-pl-3,
.cw-px-3 {
	padding-left: 16px !important;
}

.cw-p-4 {
	padding: 24px !important;
}

.cw-pt-4,
.cw-py-4 {
	padding-top: 24px !important;
}

.cw-pr-4,
.cw-px-4 {
	padding-right: 24px !important;
}

.cw-pb-4,
.cw-py-4 {
	padding-bottom: 24px !important;
}

.cw-pl-4,
.cw-px-4 {
	padding-left: 24px !important;
}

.cw-p-5 {
	padding: 48px !important;
}

.cw-pt-5,
.cw-py-5 {
	padding-top: 48px !important;
}

.cw-pr-5,
.cw-px-5 {
	padding-right: 48px !important;
}

.cw-pb-5,
.cw-py-5 {
	padding-bottom: 48px !important;
}

.cw-pl-5,
.cw-px-5 {
	padding-left: 48px !important;
}
.cw-text-center {
    text-align: center;
}

.cw-text-right {
	text-align: right;
}
.cw-action-buttons button.cw-btn-blocked,
.cw-action-buttons button.cw-btn-allow{
	min-width: 50%;
    margin-bottom: 12px;
}
.cw-prompt-alert button.cw-btn-outline,
.cw-prompt-alert button.cw-btn-outline:hover,
.cw-prompt-alert button.cw-btn-outline:focus{
	background: transparent;
	color:var(--cw-primary-color);
	border:0;
	font-family: Arial, sans-serif;
	font-weight: 400;
}
.cw-prompt-alert button.cw-btn-allow,
.cw-popover .cw-primary-btn{
	background: var(--cw-primary-color);
	color: var(--cw-white-color);
	font-family: Arial, sans-serif;
	font-weight: 400;
}
.cw-full-width {
    width: 100%;
}
.cw-float-right {
	float: right;
}

.cw-float-left {
	float: left;
}
.cw-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 4px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cw-btn-yellow {
	color: #fff;
	background-color: #F3DC49;
	border-color: #F3DC49;
	font-family: Arial, sans-serif;
	font-weight: 400;
}
.cw-btn-group>.cw-btn {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.cw-btn-blocked.cw-btn,
.cw-btn-allow.cw-btn,
.cw-btn-later.cw-btn{
	min-width: 120px;
}
.cw-btn-group>.cw-btn:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.cw-btn-group>.cw-btn:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -4px;
}

.cw-btn:hover,
.cw-btn:focus {
	text-decoration: none;
}

.cw-btn:focus,
.cw-btn.focus {
	outline: 0;
	box-shadow: none;
}

.cw-btn.disabled,
.cw-btn:disabled {
	opacity: 0.65;
}

.cw-btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.cw-btn:not(:disabled):not(.disabled):active,
.cw-btn:not(:disabled):not(.disabled).active {
	background-image: none;
}

a.cw-btn.disabled,
fieldset:disabled a.cw-btn {
	pointer-events: none;
}

.cw-btn-block {
	display: block;
	width: 100%;
}
.cw-prompt-alert[data-alert="side-right"] .cw-btn-block{
    width:100%;
}

.cw-btn-close{
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	background: #fff;
}
.cw-btn-outline,
.cw-btn-outline {
	color: var(--cw-text-dark);
	border: 1px solid #e6e6e6;
	background: transparent;
}

.cw-btn-outline:hover {
	background: var(--cw-primary-color);
	color: var(--cw-white-color);
	border-color: var(--cw-primary-color);
	box-shadow: 0;
}
.cw-btn-primary {
    color: #fff;
    background-color: var(--cw-primary-color);
/**    border-color: var(--cw-primary-color); */
}
.cw-btn-primary-outline {
	color: var(--cw-primary-color);
	background-color: var(--cw-white-color);
	border-color: var(--cw-primary-color);
}
.cw-btn-orange {
    background: var(--cw-btn-orange-color);
    border-color: var(--cw-btn-orange-color);
    color: var(--cw-white-color);
    border-radius: 0;
    font-family: Arial, sans-serif;
	font-weight: 400;
}

.cw-prompt-alert h1,
.cw-prompt-alert h2,
.cw-prompt-alert h3,
.cw-prompt-alert h4,
.cw-prompt-alert h5,
.cw-prompt-alert h6 {
	margin-top:0;
	margin-bottom: 8px;
	font-family: inherit;
	line-height: 1.2;
	color: inherit;
}

.cw-prompt-alert h1 {
	font-size: 40px;
}

.cw-prompt-alert h2 {
	font-size: 32px;
}

.cw-prompt-alert h3 {
	font-size: 28px;
}

.cw-prompt-alert h4 {
	font-size: 24px;
}

.cw-prompt-alert h5 {
	font-size: 20px;
}

.cw-prompt-alert h6 {
	font-size: 16px;
}

.cw-prompt-alert p{
	font-size: 14px;
	margin: 0 0 10px;
}
.cw-description{
	margin-left: 16px;
}
.cw-media {
	display: flex;
}

.cw-media_figure {
	margin-right: 16px;
	max-width: 80px;
	width:80px;
	height:80px;
}

.cw-media-center {
	align-items: center;
}

.cw-media_rounded {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.cw-media_rounded .avatar i {
	color: #fff;
	line-height: 40px;
	font-size: 24px;
}
.cw-text-light {
    color: var(--cw-grey-color);
}
.cw-prompt-alert{
	z-index: 9999;
}
.cw-prompt-alert h5,
.cw-prompt-alert h6,
.cw-description h6,
.cw-description h5{
	font-size: 18px;
  font-weight: 600;
	padding-bottom: 0;
	line-height: 1.2;
  word-break: break-word;
  font-family: Arial, sans-serif;
}
.cw-prompt-alert a{
	color: #647482;
	text-decoration: none;
	display: inline-block;
	margin: 8px 0;
	text-shadow: 2px 2px 2px rgb(0 0 0 / 25%);
	font-family: Arial, sans-serif;
}
.cw-prompt-alert .cw-btn {
	font-size: 14px;
	border-radius: 4px;
}
.cw-prompt-alert .cw-btn + .cw-btn{
	/* margin-left: 16px; */
}
.cw-description p {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    word-break: break-word;
    font-family: Arial, sans-serif;
}
.cw-prompt-alert {
	position: fixed;
	border: 1px solid #e6e6e6;
	background: #fff;
	padding: 12px 15px;
	border-radius: 3px;
	min-width: 500px;
	max-width: 500px;
	box-shadow: 0px 14px 24px rgb(0 0 0 / 10%);
	font-family: Arial, sans-serif;
}
.cw-prompt-alert .cw-media__figure{
	max-width: 80px;
	width: 100%;
	height: 80px;
	margin-right: 12px;
}
.cw-prompt-alert[data-alert="sticky-header"],
.cw-prompt-alert[data-alert="slide-down"],
.cw-prompt-alert[data-alert="default"]{
	min-width:450px;
	max-width:450px;	
}
.cw-prompt-alert[data-alert="sticky-header"] .cw-media__figure,
.cw-prompt-alert[data-alert="slide-down"] .cw-media__figure,
.cw-prompt-alert[data-alert="message-box"] .cw-media__figure,
.cw-prompt-alert[data-alert="side-right"] img{
	max-width: 60px;
	height: 60px;
}
.cw-prompt-alert .cw-media__figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cw-branding-text{
	font-weight: 600;
	color: #aba7a7;
}
.cw-prompt-alert[data-alert="default"]{
	position: fixed;
	top: 0;
	left: 56px;
}
[data-alert="slide-down"] {
	top: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: slideDown 1s ease 0s 1 normal forwards;
}
[data-mobile-alert]{
	min-width: 100%;
	max-width: 100%;
}
[data-mobile-alert] .slds-media__figure{
	max-width:30px;
}
[data-alert="popup"],
[data-mobile-alert="popup"]{
	padding: 0;
	border: 0;
	left:0;
	right:0;
	top:calc(50% - 130px);
	margin:0 auto;
	overflow: hidden;
	border-radius: 5px;
	animation: popup 1s ease 0s 1 normal forwards;
}
[data-alert="popup"]{
	min-width:400px;
	max-width:400px;
}

[data-alert="message-box"] {
	right: 16px;
	bottom: 16px;
	animation: messageBox 1s ease 0s 1 normal forwards;
}
[data-alert="message-box"]{
	min-width:435px;
	max-width:450px;
}
[data-alert="message-box"] .cw-description,
[data-alert="slide-down"] .cw-description{
	margin-left: 0;
}
[data-cw-prompt="right-sticky"] {
	justify-content: flex-end;
	align-items: center;
}
.cw-prompt-alert[data-mobile-alert="slideup"] {
	margin: 0 auto;
	top: auto;
	bottom: 0;
	min-width: 100%;
	max-width: 100%;
	border-radius: inherit;
	animation: mobileSlideup 1s ease 0s 1 normal forwards;
}
.cw-prompt-alert[data-alert="sticky-header"] {
	top: 0px;
	left: 0;
	right: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding:10px;
	display: flex;
	justify-content: space-between;
	animation: topSticky 1s ease 0s 1 normal forwards;
}

[data-alert="right-sticky"],
[data-mobile-alert="right-sticky"],
[data-alert="left-sticky"],
[data-mobile-alert="left-sticky"] {
	border: 0;
	left: calc(100% - 168px);
	right: 0;
	top: 45%;
	box-shadow: none;
	transform: rotate(-90deg);
	text-align: center;
	background: var(--cw-primary-color);
	color: var(--cw-white-color);
	width: 100%;
	min-width: 300px;
	max-width: 300px;
	padding:7px;
	clip-path: polygon(22% 2%, 79% 5%, 88% 100%, 10% 100%);
}

[data-alert="left-sticky"],
[data-mobile-alert="left-sticky"] {
	left: -135px;
	right: auto;
	transform: rotate(90deg);
}
.cw-prompt-alert[data-alert="notification"],
.cw-prompt-alert[data-mobile-alert="notification"] {
	min-width: 48px;
	max-width: 48px;
	border-radius: 50%;
	padding: 0;
	text-align: center;
	line-height: 3.5;
	height: 48px;
	right: 16px;
	bottom: 16px;
	background: #2C97DE;
	color: var(--cw-white-color);
	box-shadow: none;
	border: 0;
}
.cw-prompt-alert[data-alert="subscribe-notification"][data-position="left"], .cw-prompt-alert[data-alert="subscribe-notification"][data-position="right"]{
	min-width: 48px;
	max-width: 48px;
	border-radius: 50%;
	z-index: 9999;
	padding: 4px;
	text-align: center;
/*	line-height: 3.5; */
	height: 48px;
	left: 16px;
	bottom: 16px;
	background: #2C97DE;
	color: var(--cw-white-color);
	box-shadow: none;
	border: 0;
	display: flex;
  align-items: center;
  justify-content: center;
}
.cw-prompt-alert[data-alert="subscribe-notification"][data-position="right"] {
  right: 16px;
  left: auto;
  bottom: 16px;
}
.cw-prompt-alert[data-alert="subscribe-notification"][data-position="right"] .cw-popover {
  right: 15px;
  left: auto;
  bottom: 80px;
}

.cw-prompt-alert[data-alert="subscribe-notification"] img{
  width: 32px;
  height: 32px;
}

.cw-popover{
	padding: 10px;
    position: fixed;
    bottom: 80px;
    z-index: 99999;
    background: #fff;
    color: #000;
    bottom: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 230px;
    left: 15px;
    font-family: Arial, sans-serif;
	  font-weight: 400;
}
.cw-popover h3{
	font-size: 18px;
	font-weight: 500;
}
.cw-prompt-alert[data-alert="side-right"] {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	top:0;
	bottom:0;
	left:auto;
	right: 0;
	border: 0;
	height: 100%;
	box-shadow: none;
	border-radius: 0;
  padding: 48px 64px;
	min-width:400px;
  max-width:400px;
	animation: slideLeft 1s ease 0s 1 normal forwards;
}
.cw-prompt-alert[data-alert="side-right"] .cw-description {
  margin-left:0;
}

/* .cw-prompt-alert[data-alert="side-right"] img {
	max-width: 80px;
	width: 100%;
	height: 80px;
} */
.cw-prompt-alert[data-alert="overlay"],
.cw-prompt-alert[data-mobile-alert="overlay"] {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-width: 100%;
	width: 100%;
	height: 100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	border: 0;
	box-shadow: none;
	border-radius: inherit;
	animation: overlay 1s ease 0s 1 normal forwards;
}
[data-mobile-alert="default"] {
	top: calc(50% - 50px);
	left: 0;
	right: 0;
	margin:0 auto;
}

[data-mobile-alert="popup"] {
	top: calc(50% - 75px);
	min-width: 90%;
	max-width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

[data-mobile-alert="message-box"] {
	top: auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-radius: 0;
	animation: mobileMessageBox 1s ease 0s 1 normal forwards;
}

[data-mobile-alert="top-sticky"] {
	top: 0px;
	left: 0px;
	right: 0px;
	border-radius: 5px;
	margin: 0 auto;
	animation: mobiletopSticky 1s ease 0s 1 normal forwards;
}
[data-alert="overlay"] .cw-description {
	max-width: 100%;
}

[data-alert="popup"] .cw-description,
[data-mobile-alert="popup"] .cw-description {
	padding: 16px 24px 5px;
}

[data-alert="popup"] .cw-btn,
[data-mobile-alert="popup"] .cw-btn {
	font-size: 16px;
	border-radius: 0;
}
[data-prompt-position="top"] {
	top: 0;
	left: 0;
	right: 0;
}
[data-prompt-position="bottom"] {
	top:auto;
	bottom:0;
	left: 0;
	right: 0;
}

[data-prompt-position="center"] {
	top: calc(50% - 50px);
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.cw-prompt-native {
	background: var(--cw-bg-dark);
	color: var(--cw-white-color);
	padding: 16px;
	position: fixed;
	align-items: center;
	z-index: 9999;
	font-family: Arial, sans-serif;
}

.cw-prompt-native p {
	font-size: 16px;
	margin-bottom: 0 !important;
	font-family: Arial, sans-serif;
}

.cw-prompt-native .cw-btn-neutral {
	color: var(--cw-white-color);
  font-family: Arial, sans-serif;
}
.cw-btn-neutral,
.cw-btn-neutral:focus,
.cw-btn-neutral:hover{
	background: transparent;
	border: 0;
	box-shadow: none;
	font-family: Arial, sans-serif;
}

/* prompt animations */
/* permission prompt animation css */
@keyframes slideDown {
	0% {
	  transform: translateY(-100%);
	}

	100% {
	  transform: translateY(0);
	}
  }

  @keyframes popup {
	0% {
	  transform: scale(0.5);
	}

	100% {
	  transform: scale(1);
	}
  }

  @keyframes messageBox {
	0% {
	  transform: translateY(100%);
	}

	100% {
	  transform: translateY(0);
	}
  }
  @keyframes topSticky {
	0% {
	  transform: translateY(-100%);
	}

	100% {
	  transform: translateY(0);
	}
  }

  @keyframes bell {
	0%,
	100% {
	  transform: translateX(0%);
	  transform-origin: 50% 50%;
	}

	15% {
	  transform: translateX(-5px) rotate(-6deg);
	}

	30% {
	  transform: translateX(5px) rotate(6deg);
	}

	45% {
	  transform: translateX(-5px) rotate(-3.6deg);
	}

	60% {
	  transform: translateX(5px) rotate(2.4deg);
	}

	75% {
	  transform: translateX(-2px) rotate(-1.2deg);
	}
  }

  @keyframes slideLeft {
	0% {
	  transform: translateX(100%);
	}

	100% {
	  transform: translateX(0);
	}
  }
  @keyframes overlay {
	0% {
	  transform: scale(0);
	}

	100% {
	  transform: scale(1);
	}
  }
  @keyframes mobileSlideup {
	0% {
	  transform: translateY(100%);
	}

	100% {
	  transform: translateY(0);
	}
  }

  @keyframes mobileMessageBox {
	0% {
	  transform: translateY(100%);
	}

	100% {
	  transform: translateY(0);
	}
  }
  @keyframes mobiletopSticky {
	0% {
	  transform: translateY(-100%);
	}

	100% {
	  transform: translateY(0);
	}
  }
  .cw-prompt-notification {
    animation: bell 2s ease 0s 1 normal forwards;
}

.cw-popover-title{
    position: fixed;
    font-size: 14px;
    background: rgb(40, 40, 40);
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 6px;
    text-transform: capitalize;
    transition: all 0.4s ease 0s, opacity 0.4s ease 0s;
}
.cw-popover-title[data-position="right"]{
  right: 104px;
}

.cw-popover-title[data-position="left"]{
  left: 104px;
}

@media(max-width:767px){
	.cw-prompt-alert .cw-media__figure{
		max-width: 40px;
		height: 40px;
	}
	.cw-btn-blocked.cw-btn, .cw-btn-allow.cw-btn, .cw-btn-later.cw-btn{
		min-width:70px;
	}
	.cw-prompt-alert a{
		font-size: 14px;
	}
	.cw-description p{
		font-size: 18px;
	}
	[data-mobile-alert="default"] .cw-description{
		margin-left: 0;
	}
	[data-alert="sticky-header"]{
		flex-direction: column;
	}
}
